<div class="loginBody user-select-none px-0 position-relative">
    <!-- topBar -->
    <div class="topBar pt-1 bg-dark text-light">
        <p class="h4 py-0 ps-2">Control de Menús</p>
    </div>
    <!-- Banner -->
    <div class="banner">
        <img class="w-100 img-fluid bannerImg" src="/assets/img/fondo4.jpg" alt="">
    </div>
    <!-- Formulario -->
    <div class="formularioContainer mx-auto">
        <app-login-form class="formulario d-flex justify-content-center"></app-login-form>
    </div>
    <!-- Footer -->
    <div class="footer bg-dark">
        <div>
            <p class="h5 text-white mx-3">Restaurante "A La Carta" - {{anioActual}}</p>
        </div>
    </div>
</div>